* { 
    font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif'; 
}

.container {
    width: 60%;
    height: 500px;

    margin: 200px;

    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.subject {

    font-size: 32px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bank_box {
    width: 20%;
}

.box {
    width: 500px;
    height: 100px;

    margin: 10px;
    padding-left: 5px;
    padding-right: 10px;

    border-radius: 10px;

    box-shadow: 0 30px 60px 12px rgba(0, 0, 33, 0.05),
    0 4px 24px 0 rgba(0, 0, 33, 0.05),
    0 0 1px 0 rgba(0, 0, 33, 0.09) ;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box_dt {
    display: flex;
    justify-content: space-between;
    align-items: center;
}